cy.ac.ucy.linc.CloudSoftwareMarketplace/src/cy/ac/ucy/linc/cloudsoftwaremarketplace/xmlschema/NexusSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Sun Mar 27 2016 23:05:36 GMT+0300 (GTB Daylight Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="searchNGResponse">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="totalCount" type="xs:int"></xs:element>
                            <xs:element name="from" type="xs:int"></xs:element>
                            <xs:element name="count" type="xs:int"></xs:element>
                            <xs:element name="tooManyResults" type="xs:string"></xs:element>
                            <xs:element name="collapsed" type="xs:string"></xs:element>
                            <xs:element name="repoDetails">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="org.sonatype.nexus.rest.model.NexusNGRepositoryDetail" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="repositoryId" type="xs:string"></xs:element>
                                                                      <xs:element name="repositoryName" type="xs:string"></xs:element>
                                                                      <xs:element name="repositoryContentClass" type="xs:string"></xs:element>
                                                                      <xs:element name="repositoryKind" type="xs:string"></xs:element>
                                                                      <xs:element name="repositoryPolicy" type="xs:string"></xs:element>
                                                                      <xs:element name="repositoryURL" type="xs:string"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="data">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="artifact" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="groupId" type="xs:string"></xs:element>
                                                                      <xs:element name="artifactId" type="xs:string"></xs:element>
                                                                      <xs:element name="version" type="xs:string"></xs:element>
                                                                      <xs:element name="latestSnapshot" type="xs:string"></xs:element>
                                                                      <xs:element name="latestSnapshotRepositoryId" type="xs:string"></xs:element>
                                                                      <xs:element name="latestRelease" type="xs:string"></xs:element>
                                                                      <xs:element name="latestReleaseRepositoryId" type="xs:string"></xs:element>
                                                                      <xs:element name="highlightedFragment">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="blockquote" maxOccurs="unbounded" type="xs:string">
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="UL">
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="LI" type="xs:string">
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="B" type="xs:string"></xs:element>
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="artifactHits">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="artifactHit">
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="repositoryId" type="xs:string"></xs:element>
                                                                                                                <xs:element name="artifactLinks">
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="artifactLink" maxOccurs="unbounded">
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="extension" type="xs:string"></xs:element>
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>
